.code,
code {
  padding: 0;
  background: #eee;
  border-radius: 3px;
  font-family: monospace;
  display: inline-block;
}

pre {
  padding: 5px;
  overflow: auto;
  max-height: 300px;
  max-width: 90vw;
}

pre, pre code {
  background: #212121;
}

h1,
h2,
h3,
h4 {
  font-family: 'Alegreya', serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p, ul, ol {
  font-size: 1.1rem;
}

body {
  margin: 0;
  font-size: 1.2rem;
  color: #06395a;
  font-family: 'Poppins', sans-serif;
  background: #e6ecf1;
}

input, textarea {
  font-family: 'Poppins', sans-serif;
}

html,body{
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: underline;
  color: #06395a;
}

a:hover {
  text-decoration: underline;
  color: rgba(0,157,199,1);
}

.animatedlogo-component {
  line-height: 0;
}

ul {
  display: flow-root;
}